.messages {
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}