.post {
    position: relative;
    margin-top: -2px;
    display:  flex;
    flex-direction: column;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: black 2px solid;
    padding: 16px;
}
.post:first-child {
    margin-top: 64px;
}
.img {
    border-radius: 50%;
    width: 32px;
    margin-right: 8px;
}
.flex {
    display: flex;
}
.bottom {
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.postInfo {
    color: rgb(64, 64, 64);
    margin-left: 8px;
    font-size: 12px;
}
.likeButton {
    align-items: center;
    margin-right: 8px;
}
.top {
    display: flex;
    justify-content: space-between;

}
.nbrLikes {

}