
.main {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.hr {
    background-color: black;
    font-size: 2em;
    height: 100%;
    width: 1px;

}

.title {
    font-weight: bold;
}

.flex {
    display: flex;
}
.right {
    width: 70vh;
    padding: 16px;
    background-color: white;
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: scroll;
}