
.title {
    text-align: center;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: appear ease-in-out 1.2s;
}

@keyframes appear{
    from {
        opacity: 0%;
    }to {
        opacity: 100%;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    
}

.timelines {
    font-size: 1.6em;
}