.card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 32px;
    border-radius: 8px;
}
.flex {
    display: flex;
    
}

@media (max-width: 640px) {

}
.a {
    text-decoration: none;
    color: black;
    
    width: 100%;

}
.card:hover {
    background-color: rgb(240, 240, 240);
}
.flex {
    display: flex;
}
.cardImage {
    border-radius: 50%;
    margin-right: 16px;
    max-width: 64px;
    max-height: 64px;
}

.column {
    display: flex;
    flex-direction: column;
}
