

.title {
    font-size: 24px;
}
.userImage {
    z-index: 3;
    border-radius: 50%;
    position: absolute;
    bottom: 56px;
    left: 16px;
    border: 2px solid white;

}
.bannerImage {
    width: 50vw;
    height: 300px;
}


.date {
    margin-top: 8px;
    color: rgb(64, 64, 64);
}


.hr {
    margin-bottom: 64px;
}

.center {
    display: flex;
    justify-content: space-around;
}

.images {
    position: relative;
    height: auto;
}

.profile {
    z-index: 2;
    padding: 8px;
    background-color: white;
    width: 50.5%;
    margin-top: -112px;
}
.title {
    margin-top: 56px;
    font-weight: bold;
}
.right {
    float: right;
}