.nav {
    z-index: 10;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0px 0px;
    height: 48px;
}

.searchbar {
    width: 30vw;
}
.searchbar__wrapper {
    width: 30vw;
}

@media (max-width: 640px) { 
    .nav {
        position: fixed;
        top: unset;
        bottom: 0px;

    }
    .flex {
        position: fixed;
        top: 0px;
        padding: 0px 16px!important;
        background-color: white;
        width: 100%;
        height: 48px;
    }
    .newContainer {
        display: flex!important;
        justify-content: center;
        align-items: center;
    }
    .searchA {
        display: block!important;
    }
    .searchbar__wrapper {
        display: none!important;
    }
}

.newContainer {
    display: none;
}

.searchbar__wrapper .searchInput{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.searchInput .resultBox{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  

.searchInput input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.resultBox {
    position: absolute;
    height: 200px;
}
.submitBtn {
    all: unset;
}
.submitBtn:hover{
    cursor: pointer;
}
.searchA {
    display: none;
}
.searchbarContainer {
    position: relative;
}
.userImg {
    border-radius: 50%;
}
/* .userList {
    z-index: 10;
    margin: 0;
    padding: 0;
} */
.userLi {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.searchInput .close{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}
.search {
    position: absolute;
    left: 0px;
    height: 55px;
    width: 55Px;
    text-align: center;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;

}
.userLi:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}
.input {
    all: unset;
    padding: 0 16px;
    width: 75%;
    border: transparent;
    background-color: transparent;
    margin-left: 55px;
}
.searchContent {

    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}
.new {
    color: #FB6F92;
    padding: 4px 16px;
    border: 2px solid #FB6F92;
    text-align: center;
    border-radius: 4px;
}
.flex {
    display: flex;
    padding: 16px;
}

.select {
    margin: 10px 0px;
}

.right {
    float: right;
}
.a {
    margin-right: 16px;
    text-decoration: none;
    color: black;
}
.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    list-style: none;
}
.li {
    width: 32px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.menu {
    position: absolute;
    width: 200px;
    background-color: white;
    scale: 0;
    border-radius: 4px;
    border: rgb(150, 150, 150) 2px solid;
}


.menuList li {
    padding: 16px;
    list-style: none;
}
.menuList li:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.signOut {
    color: rgb(251, 111, 146);
    font-weight: bold;
}


.img {
    border-radius: 50%;
}
.img:hover {
    cursor: pointer;
}

.nbrOfNotifications {
    position: absolute;
    top: 0px;
    height: 16px;
    width: 16px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    border-radius: 50%;
    font-size: 0.7em;
    color: white;
    background-color: rgb(200,0,0);
}

.info {
    color: rgb(64, 64, 64);
    margin-left: 8px;
    font-size: 12px;
}