.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
.li {
    margin-right: 10px;
}