.nav {
    display: flex;
    justify-content: space-between;
    top: 5px;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0px 20px;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
.li {
    margin-right: 10px;
}