.notifications {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    color: black;
    flex-direction: column;
    padding: 16px;
    width: 60vw;
    height: 100%;
    background-color: white;
}

.notification {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 8px;
}

.notification:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
.content {
    width: 50%;
    max-width: 80%;
}
.image {

    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

@media (max-width: 640px) { 
    .notifications {
        width: 100vw;
    }
    
}
