.sendMessages {
    width: 100%;
    position: absolute;
    left: 0;
    background-color: white;
}

.form {
    padding: 8px 16px;
    /* transform: translateY(-25%); */
    display: flex;
    align-items: center;
}

.content {
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    all: unset;
}

.input {

    padding: 8px 8px;
    width: 80%;
    border-radius: 4px;
    background-color:  rgb(240, 240, 240);
    height: 25%;
    color: black;
}
.input::placeholder {
    color: black;
}
.input:focus {
    outline: none;
}
