.settings {
    border: 1px solid black;
    width: 30vw;
    background-color: white;
}
.setting:hover {
    background-color: rgb(243, 243, 243);
}
.selected {
    background-color: rgb(243, 243, 243);
}

.a {
    display:  flex;
    justify-content: space-between;
    padding: 16px;
    height: 100%;
}