.hisMessage, .yourMessage {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
}


.yourMessage {
    flex-direction: row-reverse;
}
.yourMessage .content {
    background-color: #EFEFEF;

}

.hisMessage .content {
    background-color: white;
    border: 1px  solid rgb(80,80,80);
}

.userImage {
    height: 32px;
    width: 32px;
    border-radius: 90px;
    display: flex;
    margin-right: 8px;
    margin-left: 8px;
}

.content {
    margin-left: 8px;
    margin-right: 8px;
    color: black;
    padding: 16px;
    border-radius: 30px;
    display: flex;
    max-width: 50%;
    word-break: break-all;
}